<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Topefekt_Magesms::magesms" title="MageSMS" module="Topefekt_Magesms" sortOrder="40" dependsOnModule="Topefekt_Magesms" resource="Topefekt_Magesms::magesms"/>
        <add id="Topefekt_Magesms::magesms_dashboard" dependsOnConfig="magesms/activated" title="Dashboard" module="Topefekt_Magesms" sortOrder="9" parent="Topefekt_Magesms::magesms" action="magesms/dashboard" resource="Topefekt_Magesms::magesms_dashboard" />
        <add id="Topefekt_Magesms::magesms_sms_campaign_new" dependsOnConfig="magesms/activated" title="Create campaign" module="Topefekt_Magesms" sortOrder="10" parent="Topefekt_Magesms::magesms" action="magesms/sms_campaign/new" resource="Topefekt_Magesms::magesms_sms_campaign_new" />
        <add id="Topefekt_Magesms::magesms_sms_campaign" dependsOnConfig="magesms/activated" title="Campaigns" module="Topefekt_Magesms" sortOrder="20" parent="Topefekt_Magesms::magesms" action="magesms/sms_campaign" resource="Topefekt_Magesms::magesms_sms_campaign" />
        <add id="Topefekt_Magesms::magesms_history_list" dependsOnConfig="magesms/activated" title="SMS History" module="Topefekt_Magesms" sortOrder="30" parent="Topefekt_Magesms::magesms" action="magesms/history/list" resource="Topefekt_Magesms::magesms_history" />
        <add id="Topefekt_Magesms::magesms_statistics" dependsOnConfig="magesms/activated" title="Statistics" module="Topefekt_Magesms" sortOrder="40" parent="Topefekt_Magesms::magesms" action="magesms/statistics" resource="Topefekt_Magesms::magesms_statistics" />
        <add id="Topefekt_Magesms::magesms_top_up" dependsOnConfig="magesms/activated" title="Top up" module="Topefekt_Magesms" sortOrder="60" parent="Topefekt_Magesms::magesms" action="magesms/top/up" resource="Topefekt_Magesms::magesms_top_up" />
        <add id="Topefekt_Magesms::magesms_payment_data" dependsOnConfig="magesms/activated" title="Billing information" module="Topefekt_Magesms" sortOrder="60" parent="Topefekt_Magesms::magesms" action="magesms/payment/data" resource="Topefekt_Magesms::magesms_payment_data" />
        <add id="Topefekt_Magesms::magesms_payment_list" dependsOnConfig="magesms/activated" title="Invoices" module="Topefekt_Magesms" sortOrder="60" parent="Topefekt_Magesms::magesms" action="magesms/payment/list" resource="Topefekt_Magesms::magesms_payment_list" />
        <add id="Topefekt_Magesms::magesms_sms_price_list" dependsOnConfig="magesms/activated" title="Price List" module="Topefekt_Magesms" sortOrder="60" parent="Topefekt_Magesms::magesms" action="magesms/sms_price/list" resource="Topefekt_Magesms::magesms_sms_price_list" />
        <add id="Topefekt_Magesms::magesms_sign_in" dependsOnConfig="magesms/nonactivated" title="Sign-In" module="Topefekt_Magesms" sortOrder="70" parent="Topefekt_Magesms::magesms" action="magesms/sign/in" resource="Topefekt_Magesms::sign_in" />
        <add id="Topefekt_Magesms::magesms_sign_up" dependsOnConfig="magesms/nonactivated" title="Sign-Up" module="Topefekt_Magesms" sortOrder="70" parent="Topefekt_Magesms::magesms" action="magesms/sign/up" resource="Topefekt_Magesms::sign_up" />
        <add id="Topefekt_Magesms::magesms_about" title="About" module="Topefekt_Magesms" sortOrder="70" parent="Topefekt_Magesms::magesms" action="magesms/index/about" resource="Topefekt_Magesms::about" />

        <add id="Topefekt_Magesms::magesms_settings" dependsOnConfig="magesms/activated" title="Settings" module="Topefekt_Magesms" sortOrder="100" parent="Topefekt_Magesms::magesms" resource="Topefekt_Magesms::magesms_settings" />
        <add id="Topefekt_Magesms::magesms_user_profile" title="User profile" module="Topefekt_Magesms" sortOrder="10" parent="Topefekt_Magesms::magesms_settings" action="magesms/user/profile" resource="Topefekt_Magesms::user_profile" />
        <add id="Topefekt_Magesms::magesms_module_notifications_admin" title="Admin SMS" module="Topefekt_Magesms" sortOrder="20" parent="Topefekt_Magesms::magesms_settings" action="magesms/module_notifications/admin" resource="Topefekt_Magesms::magesms_module_notifications_admin" />
        <add id="Topefekt_Magesms::magesms_module_notifications_customer" title="Customer SMS" module="Topefekt_Magesms" sortOrder="30" parent="Topefekt_Magesms::magesms_settings" action="magesms/module_notifications/customer" resource="Topefekt_Magesms::magesms_module_notifications_customer" />
        <add id="Topefekt_Magesms::magesms_sms_settings" title="Sender ID Profiles" module="Topefekt_Magesms" sortOrder="30" parent="Topefekt_Magesms::magesms_settings" action="magesms/sms_settings" resource="Topefekt_Magesms::magesms_sms_settings" />
        <add id="Topefekt_Magesms::magesms_module_settings" title="Settings" module="Topefekt_Magesms" sortOrder="50" parent="Topefekt_Magesms::magesms_settings" action="magesms/module_settings" resource="Topefekt_Magesms::magesms_module_settings" />
        <add id="Topefekt_Magesms::magesms_verified_phone_numbers" title="Verified Numbers" module="Topefekt_Magesms" sortOrder="50" parent="Topefekt_Magesms::magesms_settings" action="magesms/verified_phone_numbers" resource="Topefekt_Magesms::magesms_verified_phone_numbers" />
        <add id="Topefekt_Magesms::magesms_system_settings" title="System Settings" module="Topefekt_Magesms" sortOrder="60" parent="Topefekt_Magesms::magesms_settings" action="adminhtml/system_config/edit/section/magesms" resource="Magento_Config::config" />
    </menu>
</config>
